<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kpap.basis.dao.ProValIncomeMapper" >
  <resultMap id="BaseResultMap" type="com.kpap.basis.model.ProValIncome" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="next_year" property="nextYear" jdbcType="INTEGER" />
    <result column="nex_year_desc" property="nexYearDesc" jdbcType="VARCHAR" />
    <result column="income" property="income" jdbcType="NUMERIC" />
    <result column="income_cal" property="incomeCal" jdbcType="NUMERIC" />
    <result column="tax_rate" property="taxRate" jdbcType="NUMERIC" />
    <result column="tax" property="tax" jdbcType="NUMERIC" />
    <result column="share_rate" property="shareRate" jdbcType="NUMERIC" />
    <result column="share_decline_rate" property="shareDeclineRate" jdbcType="NUMERIC" />
    <result column="share_rate_cal" property="shareRateCal" jdbcType="NUMERIC" />
    <result column="discount_rate" property="discountRate" jdbcType="NUMERIC" />
    <result column="series_year" property="seriesYear" jdbcType="NUMERIC" />
    <result column="discount_factor" property="discountFactor" jdbcType="NUMERIC" />
    <result column="value" property="value" jdbcType="NUMERIC" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />
    <result column="pro_val_id" property="proValId" jdbcType="BIGINT" />
    <result column="pro_code" property="proCode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, next_year, nex_year_desc, income, income_cal, tax_rate, tax, share_rate, share_decline_rate, 
    share_rate_cal, discount_rate, series_year, discount_factor, value, create_date, 
    modify_date, pro_val_id, pro_code
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.kpap.basis.model.ProValIncomeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from pro_val_income
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart>=0 and limitEnd>=1" >
      limit ${limitEnd} offset ${limitStart}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from pro_val_income
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from pro_val_income
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.kpap.basis.model.ProValIncomeExample" >
    delete from pro_val_income
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.kpap.basis.model.ProValIncome" >
    insert into pro_val_income (id, next_year, nex_year_desc, 
      income, income_cal, tax_rate, 
      tax, share_rate, share_decline_rate, 
      share_rate_cal, discount_rate, series_year, 
      discount_factor, value, create_date, 
      modify_date, pro_val_id, pro_code
      )
    values (#{id,jdbcType=BIGINT}, #{nextYear,jdbcType=INTEGER}, #{nexYearDesc,jdbcType=VARCHAR}, 
      #{income,jdbcType=NUMERIC}, #{incomeCal,jdbcType=NUMERIC}, #{taxRate,jdbcType=NUMERIC}, 
      #{tax,jdbcType=NUMERIC}, #{shareRate,jdbcType=NUMERIC}, #{shareDeclineRate,jdbcType=NUMERIC}, 
      #{shareRateCal,jdbcType=NUMERIC}, #{discountRate,jdbcType=NUMERIC}, #{seriesYear,jdbcType=NUMERIC}, 
      #{discountFactor,jdbcType=NUMERIC}, #{value,jdbcType=NUMERIC}, #{createDate,jdbcType=TIMESTAMP}, 
      #{modifyDate,jdbcType=TIMESTAMP}, #{proValId,jdbcType=BIGINT}, #{proCode,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kpap.basis.model.ProValIncome" >
    insert into pro_val_income
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="nextYear != null" >
        next_year,
      </if>
      <if test="nexYearDesc != null" >
        nex_year_desc,
      </if>
      <if test="income != null" >
        income,
      </if>
      <if test="incomeCal != null" >
        income_cal,
      </if>
      <if test="taxRate != null" >
        tax_rate,
      </if>
      <if test="tax != null" >
        tax,
      </if>
      <if test="shareRate != null" >
        share_rate,
      </if>
      <if test="shareDeclineRate != null" >
        share_decline_rate,
      </if>
      <if test="shareRateCal != null" >
        share_rate_cal,
      </if>
      <if test="discountRate != null" >
        discount_rate,
      </if>
      <if test="seriesYear != null" >
        series_year,
      </if>
      <if test="discountFactor != null" >
        discount_factor,
      </if>
      <if test="value != null" >
        value,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="modifyDate != null" >
        modify_date,
      </if>
      <if test="proValId != null" >
        pro_val_id,
      </if>
      <if test="proCode != null" >
        pro_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="nextYear != null" >
        #{nextYear,jdbcType=INTEGER},
      </if>
      <if test="nexYearDesc != null" >
        #{nexYearDesc,jdbcType=VARCHAR},
      </if>
      <if test="income != null" >
        #{income,jdbcType=NUMERIC},
      </if>
      <if test="incomeCal != null" >
        #{incomeCal,jdbcType=NUMERIC},
      </if>
      <if test="taxRate != null" >
        #{taxRate,jdbcType=NUMERIC},
      </if>
      <if test="tax != null" >
        #{tax,jdbcType=NUMERIC},
      </if>
      <if test="shareRate != null" >
        #{shareRate,jdbcType=NUMERIC},
      </if>
      <if test="shareDeclineRate != null" >
        #{shareDeclineRate,jdbcType=NUMERIC},
      </if>
      <if test="shareRateCal != null" >
        #{shareRateCal,jdbcType=NUMERIC},
      </if>
      <if test="discountRate != null" >
        #{discountRate,jdbcType=NUMERIC},
      </if>
      <if test="seriesYear != null" >
        #{seriesYear,jdbcType=NUMERIC},
      </if>
      <if test="discountFactor != null" >
        #{discountFactor,jdbcType=NUMERIC},
      </if>
      <if test="value != null" >
        #{value,jdbcType=NUMERIC},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null" >
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="proValId != null" >
        #{proValId,jdbcType=BIGINT},
      </if>
      <if test="proCode != null" >
        #{proCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kpap.basis.model.ProValIncomeExample" resultType="java.lang.Integer" >
    select count(*) from pro_val_income
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update pro_val_income
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.nextYear != null" >
        next_year = #{record.nextYear,jdbcType=INTEGER},
      </if>
      <if test="record.nexYearDesc != null" >
        nex_year_desc = #{record.nexYearDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.income != null" >
        income = #{record.income,jdbcType=NUMERIC},
      </if>
      <if test="record.incomeCal != null" >
        income_cal = #{record.incomeCal,jdbcType=NUMERIC},
      </if>
      <if test="record.taxRate != null" >
        tax_rate = #{record.taxRate,jdbcType=NUMERIC},
      </if>
      <if test="record.tax != null" >
        tax = #{record.tax,jdbcType=NUMERIC},
      </if>
      <if test="record.shareRate != null" >
        share_rate = #{record.shareRate,jdbcType=NUMERIC},
      </if>
      <if test="record.shareDeclineRate != null" >
        share_decline_rate = #{record.shareDeclineRate,jdbcType=NUMERIC},
      </if>
      <if test="record.shareRateCal != null" >
        share_rate_cal = #{record.shareRateCal,jdbcType=NUMERIC},
      </if>
      <if test="record.discountRate != null" >
        discount_rate = #{record.discountRate,jdbcType=NUMERIC},
      </if>
      <if test="record.seriesYear != null" >
        series_year = #{record.seriesYear,jdbcType=NUMERIC},
      </if>
      <if test="record.discountFactor != null" >
        discount_factor = #{record.discountFactor,jdbcType=NUMERIC},
      </if>
      <if test="record.value != null" >
        value = #{record.value,jdbcType=NUMERIC},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifyDate != null" >
        modify_date = #{record.modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.proValId != null" >
        pro_val_id = #{record.proValId,jdbcType=BIGINT},
      </if>
      <if test="record.proCode != null" >
        pro_code = #{record.proCode,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update pro_val_income
    set id = #{record.id,jdbcType=BIGINT},
      next_year = #{record.nextYear,jdbcType=INTEGER},
      nex_year_desc = #{record.nexYearDesc,jdbcType=VARCHAR},
      income = #{record.income,jdbcType=NUMERIC},
      income_cal = #{record.incomeCal,jdbcType=NUMERIC},
      tax_rate = #{record.taxRate,jdbcType=NUMERIC},
      tax = #{record.tax,jdbcType=NUMERIC},
      share_rate = #{record.shareRate,jdbcType=NUMERIC},
      share_decline_rate = #{record.shareDeclineRate,jdbcType=NUMERIC},
      share_rate_cal = #{record.shareRateCal,jdbcType=NUMERIC},
      discount_rate = #{record.discountRate,jdbcType=NUMERIC},
      series_year = #{record.seriesYear,jdbcType=NUMERIC},
      discount_factor = #{record.discountFactor,jdbcType=NUMERIC},
      value = #{record.value,jdbcType=NUMERIC},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      modify_date = #{record.modifyDate,jdbcType=TIMESTAMP},
      pro_val_id = #{record.proValId,jdbcType=BIGINT},
      pro_code = #{record.proCode,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.kpap.basis.model.ProValIncome" >
    update pro_val_income
    <set >
      <if test="nextYear != null" >
        next_year = #{nextYear,jdbcType=INTEGER},
      </if>
      <if test="nexYearDesc != null" >
        nex_year_desc = #{nexYearDesc,jdbcType=VARCHAR},
      </if>
      <if test="income != null" >
        income = #{income,jdbcType=NUMERIC},
      </if>
      <if test="incomeCal != null" >
        income_cal = #{incomeCal,jdbcType=NUMERIC},
      </if>
      <if test="taxRate != null" >
        tax_rate = #{taxRate,jdbcType=NUMERIC},
      </if>
      <if test="tax != null" >
        tax = #{tax,jdbcType=NUMERIC},
      </if>
      <if test="shareRate != null" >
        share_rate = #{shareRate,jdbcType=NUMERIC},
      </if>
      <if test="shareDeclineRate != null" >
        share_decline_rate = #{shareDeclineRate,jdbcType=NUMERIC},
      </if>
      <if test="shareRateCal != null" >
        share_rate_cal = #{shareRateCal,jdbcType=NUMERIC},
      </if>
      <if test="discountRate != null" >
        discount_rate = #{discountRate,jdbcType=NUMERIC},
      </if>
      <if test="seriesYear != null" >
        series_year = #{seriesYear,jdbcType=NUMERIC},
      </if>
      <if test="discountFactor != null" >
        discount_factor = #{discountFactor,jdbcType=NUMERIC},
      </if>
      <if test="value != null" >
        value = #{value,jdbcType=NUMERIC},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null" >
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="proValId != null" >
        pro_val_id = #{proValId,jdbcType=BIGINT},
      </if>
      <if test="proCode != null" >
        pro_code = #{proCode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kpap.basis.model.ProValIncome" >
    update pro_val_income
    set next_year = #{nextYear,jdbcType=INTEGER},
      nex_year_desc = #{nexYearDesc,jdbcType=VARCHAR},
      income = #{income,jdbcType=NUMERIC},
      income_cal = #{incomeCal,jdbcType=NUMERIC},
      tax_rate = #{taxRate,jdbcType=NUMERIC},
      tax = #{tax,jdbcType=NUMERIC},
      share_rate = #{shareRate,jdbcType=NUMERIC},
      share_decline_rate = #{shareDeclineRate,jdbcType=NUMERIC},
      share_rate_cal = #{shareRateCal,jdbcType=NUMERIC},
      discount_rate = #{discountRate,jdbcType=NUMERIC},
      series_year = #{seriesYear,jdbcType=NUMERIC},
      discount_factor = #{discountFactor,jdbcType=NUMERIC},
      value = #{value,jdbcType=NUMERIC},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      pro_val_id = #{proValId,jdbcType=BIGINT},
      pro_code = #{proCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>